* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

header img {
  width: 200px;
  margin-bottom: 30px;
}

.brandImg h1 {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 20px;
}

header p {
  color: #afafaf;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-name {
  display: flex;
  gap: 20px;
}

.input-wrapper input {
  border: none;
  border-bottom: 1px solid #E9E9F0;
  padding-bottom: 10px;
  width: 100%;
}

input,
input ::placeholder {
  color: #43425D;
  font-family: 'Inter', sans-serif;
}

.checkbox {
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  color: #43425D;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.submit {
  text-align: center;
}

.submit input {
  color: #ffffff;
  background-color: #2F2E50;
  padding: 12px 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  header {
    margin-top: 80px;
  }

  header img {
    width: 300px;
  }

  header p {
    font-size: 18px;
  }

  .fieldset-wrapper {
  gap: 50px;
}

  input,
  input ::placeholder {
    font-size: 18px;
  }

  .checkbox, .register {
    font-size: 17px;
  }

  .submit input {
    padding: 17px 60px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-self: center;
    gap: 150px;
  }

  .page {
    display:flex;
    flex-direction: column;
  }
  
  .hide {
    display: block;
  }

  .image-side{
    background-image: url(./images/model.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
  }

  header {
  margin-top: 70px;
}

header img {
  width: 200px;
  margin-bottom: 20px;
}

header p {
    font-size: 15px;
  }

  input,
  input ::placeholder {
    font-size: 15px;
  }

  .fieldset-wrapper {
  gap: 35px;
}

  .checkbox, .register {
    font-size: 12px;
  }

  .checkbox {
    margin-top: 20px;
  }

  .submit input {
    transition: .3s ease;
  }

  .submit input:hover {
    opacity: 70%;
  }
}